# Extended config for PRODUCTION env
version: "3.7"
services:
  backend:
    build:
      target: production
    image: docker.pkg.github.com/wallscope/pronto/backend:2.0.0

  frontend:
    image: docker.pkg.github.com/wallscope/pronto/frontend:2.0.1
    build:
      target: production
    ports:
      - "80:80"
    # volumes:
    #   - "${PWD}/frontend/conf:/etc/nginx/conf.d"
    depends_on:
      - backend
